.s-bgi {
  background-image: url(../img/peopleAreTalkingAboutFork-BG320.png);
  background-size: cover;
}

.pataf-slogan {
  color: $whiteColor;
  font-size: 26px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 61px;
  padding-bottom: 50px;
}

.pataf-slogan768-1200 {
  display: none;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  padding-top: 61px;
  padding-bottom: 50px;
  color: $whiteColor;
}

.pataf-container {
  font-family: "Lato", sans-serif;
  font-style: italic;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  text-align: center;
}

.pataf-text {
  font-size: 16px;
  font-weight: bold;
  color: $whiteColor;
  padding: 35px 40px;
  line-height: 22px;
}

.pataf-text768-1200 {
  display: none;
  color: $aboutForkColor;
  font-size: 14px;
  line-height: 22px;
}

.margin {
  margin-top: -15px;
}

.pataf-line {
  margin: 0 20px;
  border-bottom: 2px solid $aboutForkColor;
}



@media screen and (min-width: $tabsBreakPoint) {
  .pataf-container {
    grid-template-columns: 1fr 1fr;
  }

  .pataf-slogan {
    display: none;
  }

  .pataf-slogan768-1200 {
    font-size: 30px;
    display: flex;
  }

  .p-margin {
    margin-bottom: 5px;
  }

  .p-margin768 {
    margin-top: 11px;
  }

  .pataf-text768-1200 {
    display: block;
    margin: 0 50px 16px 50px;
    text-align: center;
    line-height: 18px;
  }

  .pataf-line {
    margin: 0 35px;
  }
}


@media screen and (min-width: $desktopBreakPoint) {
  .pataf-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .pataf-slogan {
    display: none;
  }

  .pataf-slogan768-1200 {
    font-size: 35px;
    display: flex;
  }

  .pataf-text768-1200 {
    display: block;
    margin: 50px 150px 15px 150px;
    text-align: center;
    line-height: 18px;
  }

  .p-margin768 {
    margin-top: 3px;
  }

  .pataf-line {
    margin: 0 auto;
    width: 780px;
    border-bottom: 2px solid $aboutForkColor;
  }
}