.header {
  display: flex;
  justify-content: space-around;
  height: 103px;
  background-color: #27262a;
  font-family: $montserratFont;
  position: relative;
}

.logo-link {
  text-decoration: none;
  border-style: none;
}

.logo-link-hidden {
  display: none;
}

.header-img {
  width: 43px;
  height: 41px;
  margin-top: 31px;
}

.logo-link:hover {
  content: url("../img/navbar-logo-hover.png");
  width: 43px;
  height: 41px;
  margin-top: 31px;
}

.header-button {
  text-decoration: none;
  width: 119px;
  height: 37px;
  background-color: $purpleColor;
  border-radius: 50px;
  color: $whiteColor;
  text-align: center;
  line-height: 35px;
  font-size: 15px;
  margin-top: 33px;
}

.header-menu {
  background-color: #27262a;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 26px;
  width: 21px;
  margin-top: 41px;
}

.header-menu-line-short {
  margin-left: 3px;
  height: 2px;
  width: 18px;
  background-color: $whiteColor;
}

.header-menu-line {
  height: 2px;
  width: 21px;
  background-color: $whiteColor;
}

.header-menu-vertical-nav-bar {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 101px;
  right: 0;
  left: 0;
  background-color: #333333;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 10px;
}

.vertical-nav-bar-item {
  padding: 30px 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.vertical_item {
  text-decoration: none;
  color: $whiteColor;
  font-size: 22px;
  text-transform: capitalize;
  padding: 10px 0 10px 30px;
  border-left: 7px solid transparent;
  //transition: color 0.3s ease;
}

//.vertical_item--active {
//  color: $purpleColor;
//  border-left: 7px solid $purpleColor;
//}

.vertical_item:hover {
  color: $purpleColor;
  border-left: 7px solid $purpleColor;
}

.header-menu-navbar_item:hover {
  color: $whiteColor;
}

.header-menu:hover .header-menu-vertical-nav-bar {
  display: flex;
  z-index: 100;
}

.header-main-img {
  background-image: url(../img/header.png);
  background-size: cover;
  height: 615px;
  position: relative;
}

.header-main-slogan {
  color: $whiteColor;
  padding-top: 43px;
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
}

.header-text {
  margin-top: 20px;
  font-size: 13px;
  line-height: 30px;
  color: $purpleColor;
  text-align: center;
}

.header-text2 {
  font-family: $latoFont;
  margin-top: 20px;
  font-size: 10px;
  color: $headerDescriptionColor;
  text-align: center;
}

.header-button2 {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 290px;
  height: 45px;
  border: 1px solid transparent;
  background-color: $purpleColor;
  border-radius: 50px;
  text-decoration: none;
  font-size: 13px;
  font-weight: bolder;
  line-height: 45px;
  color: $whiteColor;
  margin: 440px auto 0;
  position: relative;
}

.header-button1200:hover,
.header-button:hover {
  color: $purpleColor;
  background-color: $whiteColor;
}

.header-button2:hover {
  color: $purpleColor;
  background-color: $whiteColor;
  border: 1px solid $purpleColor;
}

.header-button2::after {
  content: "Unlimited 30-Days Trial Period";
  position: absolute;
  bottom: -35px;
  font-size: 10px;
  color: $headerDescriptionColor;
}

.header-main-img {
  background-image: url(../img/header1200.png);
  background-position:center;
  height: 690px;
}

.header-main-slogan {
  padding-top: 60px;
  font-size: 60px;
}

.header-text-768px {
  display: none;
  font-family: $latoFont;
  margin-top: 20px;
  font-size: 19px;
  line-height: 30px;
  color: #8d81ac;
  text-align: center;
}

.header-text2 {
  font-size: 12px;
}

.header-menu-768px-nav-bar {
  display: none;
}

.header-menu-1200px-nav-bar {
  display: none;
}

.header-button1200 {
  display: none;
}

//___________481px____________________

@media screen and (min-width: $tabsBreakPoint) {
  .header {
    display: block;
    height: 118px;
    position: static;
  }

  .header-button1200 {
    display: none;
  }

  .logo-link {
    text-decoration: none;
  }

  .logo-link-hidden {
    display: inline-block;
    text-decoration: none;
    margin-left: 17px;
    position: relative;
  }

  .p-left {
    float: left;
    margin-left: 20px;
  }

  .p-right {
    float: right;
    margin-right: 20px;
  }

  .logo-link-hidden::after {
    content: "FORKIO";
    font-family: $latoFont;
    font-size: 24px;
    color: $purpleColor;
    top: -30px;
    right: -85px;
    position: absolute;
  }

  .header-img {
    width: 43px;
    height: 41px;
    margin-top: 31px;
  }

  .p-left:hover {
    cursor: pointer;
  }

  .p-left:hover .logo-link {
    content: url("../img/navbar-logo-hover.png");
    width: 43px;
    height: 41px;
    margin-top: 31px;
  }

  .p-left:hover .logo-link-hidden::after {
    color: $whiteColor;
  }

  .header-menu-1200px-nav-bar {
    display: none;
  }

  .header-menu {
    display: none;
  }

  .header-menu-vertical-nav-bar {
    display: none;
  }

  .header-menu-768px-nav-bar {
    clear: both;
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
  }

  .header-menu-navbar_item {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: $purpleColor;
  }

  .header-text-768px {
    display: block;
  }

  .header-text {
    display: none;
  }

  .header-button2 {
    margin: 465px auto 0;
  }
}

//___________993px____________________

@media screen and (min-width: $desktopBreakPoint) {
  .header {
    height: 100px;
  }

  .header-menu-768px-nav-bar {
    display: none;
  }

  .header-menu {
    display: none;
  }

  .logo-link-hidden {
    display: inline-block;
    text-decoration: none;
    margin-left: 17px;
    position: relative;
  }

  .logo-link-hidden::after {
    content: "FORKIO";
    font-family: $latoFont;
    font-size: 24px;
    color: $purpleColor;
    top: -30px;
    right: -85px;
    position: absolute;
  }

  .p-left {
    margin-left: 90px;
  }

  .p-left:hover {
    cursor: pointer;
  }

  .p-left:hover .logo-link {
    content: url("../img/navbar-logo-hover.png");
    width: 43px;
    height: 41px;
    margin-top: 31px;
  }

  .p-left:hover .logo-link-hidden::after {
    color: $whiteColor;
  }

  .header-menu-1200px-nav-bar {
    display: flex;
    justify-content: space-around;
    flex-basis: 600px;
    padding-top: 45px;
    padding-left: 300px;
  }

  .header-menu-navbar_item {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: $purpleColor;
  }

  .header-button {
    display: none;
  }

  .header-button1200 {
    display: block;
    text-decoration: none;
    width: 119px;
    height: 37px;
    background-color: $purpleColor;
    border-radius: 50px;
    color: $whiteColor;
    text-align: center;
    line-height: 35px;
    font-size: 15px;
    margin-top: -10px;
  }

  .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }
}

