.pricing {
  background-image: url("../img/pricing/pricingBg.png");
  background-size: cover;
  background-position: 50% 50%;

  &_title {
    color: $whiteColor;
    text-transform: capitalize;
    font-weight: bold;
    font-family: $montserratFont;
    font-size: 27px;
    padding: 50px 0;
    line-height: 45px;
    text-align: center;
  }

  &-item-container {
    display: grid;
    grid-template-columns: 75%;
    grid-gap: 1%;
    justify-content: center;
    padding-bottom: 110px;
  }
}

.pricing-item {
  background-color: $pricingItemBgColor;
  position: relative;
  font-family: $montserratFont;
  text-align: center;

  &_title {
    text-transform: uppercase;
    color: $whiteColor;
    background-color: $pricingItemTitleAndBtnBgColor;
    font-size: 19px;
    padding: 45px 0 35px;
  }

  &_price {
    font-weight: bold;
    font-size: 58px;
    color: $whiteColor;
    margin: 35px 0 25px;
  }

  &_period {
    text-transform: uppercase;
    font-size: 14px;
    color: $pricingItemPeriodColor;
    margin-bottom: 65px;
  }

  &_period::after {
    content: " ";
    padding: 0 30px;
    border: 2px solid $purpleColor;
    position: absolute;
    right: calc((100% - 64px)/2);
    top: 270px;
  }

  &_conditions {
    text-transform: capitalize;
    font-size: 15px;
    color: $whiteColor;
    line-height: 30px;
    margin: 0 8px 85px;
  }

  &_btn {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    color: $whiteColor;
    padding: 12px 30px;
    background-color: $pricingItemTitleAndBtnBgColor;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    left: calc(50% - 72px);
  }

  &_btn--active {
    color: $pricingItemBtnHoverColor;
    background-color: $pricingItemBtnHoverBgColor;
    font-weight: bold;
  }
}

#bigItem.pricing-item{
  transform: scale(1.2);
  margin: 43px calc(1% - 1px);
  background-color: $bigPricingItemBgColor;
}

#bigItem .pricing-item_title {background-color: $bigPricingItemBgColor;}


@media screen and (min-width: $tabsBreakPoint) {

  .pricing_title {
    font-size: 43px;
    line-height: 60px;
  }

  .pricing-item-container {
    grid-template-columns: 35% 35%;
    grid-template-rows: 50% 50%;
    grid-gap: 6%;
    padding-bottom: 140px;
  }

  .pricing-item {margin-bottom: 20px;}

  #bigItem.pricing-item{margin: 0 calc(1% - 1px);}
}

@media screen and (min-width: $desktopBreakPoint) {

  .pricing_title {
    font-size: 45px;
    padding-top: 60px;
    margin-bottom: 75px;
    line-height: 0;
  }

  .pricing-item-container {
    grid-template-columns: 20% 20% 24% 20%;
    grid-template-rows: 1fr;
    grid-gap: 1%;
    justify-content: center;
    padding-bottom: 95px;
  }

  .pricing-item {
    margin-bottom: 0;

    &_title {font-size: 20px;}

    &_price {font-size: 60px;}

    &_period {font-size: 15px;}

    &_conditions {font-size: 16px;}

    &_btn {
      font-size: 15px;
      transition: background-color, color 0.5s ease;
    }

    &_btn:hover {
      color: $pricingItemBtnHoverColor;
      background-color: $pricingItemBtnHoverBgColor;
      font-weight: bold;
    }
  }

  #bigItem.pricing-item{margin: 0 calc(10% - 4px);}
}

