$latoFont : "Lato", sans-serif;
$montserratFont : "Montserrat", sans-serif;

$purpleColor : #8d81ac;
$whiteColor: #ffffff;
$headerDescriptionColor: gray;
$aboutForkColor: lightgray;
$editorTitleFontColor : #635c73;
$editorSloganFontColor : #5b5b5b;
$actionsBtnBg : #eff3f6;
$whatYouGetBg :#f4f4f4;
$whatYouGetArticleTitleColor : rgba(50, 50, 50, 255);
$whatYouGetArticleTextColor : rgba(132, 142, 151, 255);
$pricingItemBgColor : rgba(255, 255, 255, 0.1);
$pricingItemTitleAndBtnBgColor : rgba(255, 255, 255, 0.15);
$pricingItemPeriodColor : rgba(255, 255, 255, 0.3);
$bigPricingItemBgColor : rgba(0, 0, 0, 0.15);
$pricingItemBtnHoverColor : rgba(0, 0, 0, 0.5);
$pricingItemBtnHoverBgColor : rgba(255, 255, 255, 0.65);

$tabsBreakPoint : 481px;
$desktopBreakPoint : 993px;
$ultraBigScreenBreakPoint : 1201px;

