.what-you-get {
  background-color: $whatYouGetBg;
  display: flex;
  flex-direction: column;
  position: relative;

  &-articles {
    margin-top: 40px;
  }

  &_title {
    order: -1;
    font-family: $montserratFont;
    font-weight: bold;
    color: $purpleColor;
    margin-top: 45px;
    font-size: 33px;
    text-align: center;
    line-height: 40px;
  }

  &_img {
    position: absolute;
    right: 0;
    bottom: 35px;
    width: 95%;
    height: 270px;
    margin-top: 40px;
    background-image: url(../img/whatYouGet/bg.png);
    background-size: cover;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }
}

.article {
    display: flex;
    flex-direction: column;
    text-align: center;

  &_title {
    font-family: $montserratFont;
    font-size: 15px;
    text-transform: capitalize;
    color: $whatYouGetArticleTitleColor;
    margin: 20px 0 10px;
  }

  &_text {
    font-family: $montserratFont;
    font-size: 12px;
    color: $whatYouGetArticleTextColor;
    line-height: 20px;
    margin-bottom: 40px;
  }
}

.last-el {
  margin-bottom: 340px;
}

@media screen and (min-width: $tabsBreakPoint) {
  .what-you-get {

    &-articles {
      margin-left: 55px;
    }

    &_title {
      font-size: 36px;
    }

    &_img {
      width: 95%;
      height: 41%;
    }
  }

  .article {
    display: grid;
    grid-template-columns: minmax(140px, 1fr) 4fr;
    margin-bottom: 35px;
    text-align: left;

    &_title {
      margin: 0 0 10px 0;
    }

    &_text {
      margin: 0 20px 0 0;
    }
  }

  .last-el {
    margin-bottom: 550px;
  }

}

@media screen and (min-width: $desktopBreakPoint) {
  .what-you-get {
    flex-direction: row;

    &-articles {
      flex-basis: 50%;
      margin-top: 85px;
    }

    &_title {
      order: 2;
      flex-basis: 50%;
      font-size: 37px;
      margin-top: 85px;
      text-align: left;
    }

    &_img {
      width: 48%;
      height: 65%;
    }
  }

  .article {
    grid-template-columns: 1fr 3fr;

    &_text {margin-right: 70px;}
  }

  .last-el {
    margin-bottom: 0;
  }
}
